h1, h3 {
	color: #ffffff;
	text-shadow: 2px 2px #000;
}

.blue {
	background-color: #337ab7;
}
.white {
	background-color: #fff;
}
.fa {
	color: #fff;
}
.fa-envelope-o {
	color: #337ab7;
}
.fa-phone {
	color: #337ab7;
}
.btn-light {
    background-color: #000;
}