body {
    font-family: 'Merriweather Sans', sans-serif;
}
/*heading*/
.brand {

    font-family: 'Candal', sans-serif;

}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
	 background-color: #4E87FF;
	 border-color: #4E87FF;
}

